data:
  env: config-eureka-dev
  user:
    username: eureka-client-user
    password: 1291029102

# ∑˛ŒÒ∆˜≈‰÷√
server:
  port: 18080
  tomcat:
    uri-encoding: utf-8

#spring≈‰÷√
spring:
  application:
    name: thymeleaf
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML5
  redis:
    database: 8
    host: 127.0.0.1
    port: 7771
    password: 88013064
    timeout: 3000
    lettuce:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0